{% extends 'art/base.html' %}

{% block content %}
{% load static %}

<header>
<div id="page-info" class="container">
        <div class="page-info-title">
            <h1>Portfolio</h1>
        </div> <br>
        <div class="page-info-desc">
            <p>I've worked on a variety of projects, large and small. With commercial work, it is done to a brief or a design worked
            out with the client rather than my own particular style.</p>
        </div>
</div>
</header>


<div id="portfolio">

    <div class="container" >
        <div class="portfolio-menu mt-2">
            <ul>
                <li class="btn btn-outline-dark active" data-filter="*">All</li>
        
                {% for category in categories  %}


                <li class="btn btn-outline-dark" data-filter=".{{ category.name }}">{{category.full_name}}</li>
                <!-- <li class="btn btn-outline-dark" data-filter=".home">Home Interior</li>
                <li class="btn btn-outline-dark" data-filter=".corp">Corporate</li>
                <li class="btn btn-outline-dark text" data-filter=".cont">Contemporary</li> -->
                {% endfor %}
            </ul>
        </div>
        <div class="portfolio-item row">

        {% for item in post %}
            {% if item.category.name == "Home Interior" and item.postimage_set.all|length != 0 %}     
            <div class="item home col-lg-3 col-md-4 col-sm">
                    <a href="/post/{{item.id}}" class="fancylight" data-fancybox-group="light">
                    <img class="img-fluid" src="/media/{{item.image}}" alt=""></a>
                    <h4 style="text-align: center;padding: 10px;font-size: 12px;text-transform: uppercase; ">{{item.pimage_title}}</h4>
                </div>
            {% endif %}

            {% if item.category.name == "Corporate" and item.postimage_set.all|length != 0 %}
                <div class="item corp col-lg-3 col-md-4 col-sm">
                    <a href="/post/{{item.id}}" class="fancylight" data-fancybox-group="light">
                    <img class="img-fluid" src="/media/{{item.image}}" alt=""></a>
                    <h4 style="text-align: center;padding: 10px;font-size: 12px;text-transform: uppercase;">{{item.pimage_title}}</h4>
                </div>
            {% endif %}


            {% if item.category.name == "Contemporary" and item.postimage_set.all|length != 0  %}
                <div class="item cont col-lg-3 col-md-4 col-sm">
                    <a href="/post/{{item.id}}" class="fancylight" data-fancybox-group="light">
                    <img class="img-fluid" src="/media/{{item.image}}" alt=""></a>
                    <h4 style="text-align: center;padding: 10px;font-size: 12px;text-transform: uppercase;">{{item.pimage_title}}</h4>
                </div>
            {% endif %}




            {% if item.category.name == "Home Interior" and item.postimage_set.all|length == 0 %}  
            <div class="item home col-lg-3 col-md-4 col-sm">
                <a href="/media/{{item.image}}" class="fancylight popup-btn" data-fancybox-group="light"> 
                <img class="img-fluid" src="/media/{{item.image}}" alt="">
                </a>
             </div>

            {% endif %}

            {% if item.category.name == "Corporate" and item.postimage_set.all|length == 0 %}
            <div class="item corp col-lg-3 col-md-4 col-sm">
                <a href="/media/{{item.image}}" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/media/{{item.image}}" alt=""></a>
                <h4 style="text-align: center;padding: 10px;font-size: 12px;text-transform: uppercase;">{{item.pimage_title}}</h4>
            </div>
            {% endif %}


        {% if item.category.name == "Contemporary" and item.postimage_set.all|length == 0  %}
            <div class="item cont col-lg-3 col-md-4 col-sm">
                <a href="/media/{{item.image}}" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="/media/{{item.image}}" alt=""></a>
                <h4 style="text-align: center;padding: 10px;font-size: 12px;text-transform: uppercase;">{{item.pimage_title}}</h4>
            </div>
        {% endif %}


                <!-- {% if item.postimage_set.all|length == 0 %}}
                    <h1>No image inside</h1>
                {% endif %} -->

        {% endfor %}
    </div>
</div>   
</div>
<script>
    $('.portfolio-item').isotope({
        itemSelector: '.item',
        layoutMode: 'fitRows'
    });
    $('.portfolio-menu ul li').click(function () {
        $('.portfolio-menu ul li').removeClass('active');
        $(this).addClass('active');

        var selector = $(this).attr('data-filter');
        $('.portfolio-item').isotope({
            filter: selector
        });
        return false;
    });
    $(document).ready(function() {
         var popup_btn = $('.popup-btn');
         popup_btn.magnificPopup({
         type : 'image',
         gallery : {
         	enabled : true
         }
         });
         });
</script>
{% endblock %}