<div class="center-half-line"></div>

<!--________________
Footer ____________________-->

<footer>

    <div class="row no-gutters social-container">
        <div class="col"><a class="social-inner" href="https://www.facebook.com/makartworks.2020"><span
                    class="icon mdi mdi-facebook"></span><i style="color: #3b5999;" class="fa fa-facebook-official" aria-hidden="true"></i>
<span> <br> Facebook</span></a></div>
        <div class="col"><a class="social-inner" href="https://www.instagram.com/makartworks"><span
                    class="icon mdi mdi-instagram"></span><i style="color:#e4405f;" class="fa fa-instagram"></i>
<span> <br>  instagram</span></a></div>
        <div class="col"><a class="social-inner" href="https://www.twitter.com/ArtworksMak"><span
                    class="icon mdi mdi-twitter"></span><i style="color:#55acee;" class="fa fa-twitter"></i>
<span> <br> twitter</span></a></div>
        <div class="col"><a class="social-inner" href="#"><span
                    class="icon mdi mdi-youtube-play"></span><i style="color:#cd201f;" class="fa fa-youtube-play"></i>
<span> <br>Youtube</span></a></div>
    </div>


    <div class="copy">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">
                            Copyright ©
                            <script>document.write(new Date().getFullYear());</script> All rights reserved |
                            This website is design & develop by <a href="https://fb.com/azeemkhanreal"
                                target="_blank">Azeem Khan</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

